@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900');

$dark-blue: #004157;
$dark-blue-soft: #00415750;
$principal-background-color: #F8F9FF;
$secondary-background-color: #fff;
$font: 'Muli',
sans-serif;

* {
    margin: 0;
    padding: 0;
    transition: 0.4s;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    background: $principal-background-color;
}

.header-logo {
    margin: 0 0 0 2%;
    padding: 10px;
    height: auto;
    width: 8%;
}

.header {
    background: $secondary-background-color;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.03);
    display: inline-block;

    &-user {
        float: right;
        width: 40%;
        height: 100%;
        position: relative;
        margin-top: 10px;

        &-userPhoto {
            width: 50px;
            height: 50px;
            float: left;
        }

        &-userInfo {

            font-size: 1.1em;
            font-weight: 900;
            color: $dark-blue;

            text-transform: uppercase;
            float: left;
            width: 80%;
            height: auto;
            margin: 0 auto;
            padding: 10px;
            text-align: right;

            &-userName {
                font-size: 0.9em;
            }

            &-userID {
                font-size: 0.8em;
                font-weight: 400;
            }
        }
    }
}

.top-menu {
    display: table;
    background: $secondary-background-color;
    width: 100%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.048);
    margin: auto;
    z-index: 99;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.048);

    &-div {
        margin: auto;
        width: 100%;
        z-index: 99;
        width: 90%;
        max-width: 1000px;

        &-nav li a {
            z-index: 99;
            background: white;
            color: $dark-blue;
            text-decoration: none;
            font-weight: 700;
            padding: 10px 15px;
            display: block;
            padding: 13px;
        }

        &-nav li a:hover {
            background: $dark-blue;
            color: white;
            border-radius: 2px;
        }

        &-nav li ul {
            z-index: 99;
            display: none;
            position: absolute;
            min-width: 300px;
        }

        &-nav li:hover>ul {
            display: block;
        }

        &-nav>li {
            float: left;
        }

        &-nav li ul li {
            position: relative;
        }

        &-nav li ul li ul {
            right: -300px;
            top: 0px;
        }
    }

}

ul,
ol {
    list-style: none;
}

.side {
    position: relative;
    vertical-align: top;
}

.sideMenu {
    margin-top: 50px;
    display: inline-block;
    background: $secondary-background-color;
    width: 70px;
    height: 100%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.048);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    &-newDiag {
        padding-top: 15px;
        position: relative;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid;
        border-color: $dark-blue-soft;

        &-icon {
            background-image: url("images/new-diag.svg");
            width: auto;
            height: 30px;
            position: relative;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &-newDiag:hover {
        transition: 0.2s;
        background: rgb(243, 243, 243);
    }

    &-newHist {
        padding-top: 15px;
        position: relative;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid;
        border-color: $dark-blue-soft;

        &-icon {
            background-image: url("images/new-hist.svg");
            width: auto;
            height: 30px;
            position: relative;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &-newHist:hover {
        transition: 0.2s;
        background: rgb(243, 243, 243);
    }

    &-favorite {
        background-color: $dark-blue;
        padding-top: 10px;
        position: relative;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid;
        border-color: $dark-blue-soft;
        border-bottom-right-radius: 10px;

        &-icon {
            background-image: url("images/favorite.svg");
            width: auto;
            height: 30px;
            position: relative;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &-more {
        background-color: $dark-blue;
        padding-top: 10px;
        position: relative;
        height: 30px;
        width: 25px;
        border-bottom: 1px solid;
        border-color: $dark-blue-soft;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        float: left;
        right: -100%;
        top: -100px;
        opacity: 1;
        z-index: 4;
        transition: 0.2s;

        &-icon {
            background-image: url("images/more.svg");
            width: auto;
            height: 20px;
            position: relative;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

//estilos del sude menu full

.sideMenuFull {
    z-index: -10;
    vertical-align: top;
    margin-top: 50px;
    margin-left: -100%;
    display: inline-block;
    background: $secondary-background-color;
    width: 200px;
    height: 100%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.048);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.2s;

    &-text {
        font-weight: 700;
        color: $dark-blue;
        padding: 10px;
        text-transform: uppercase;
        font-size: 0.8em;

        &-white {
            color: #fff;
            font-weight: 700;
            padding: 10px 12px;
            text-transform: uppercase;
            font-size: 0.8em;
        }
    }

    &-newDiag {
        padding-top: 15px;
        position: relative;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid;
        border-color: $dark-blue-soft;

        &p {
            background-image: url("images/new-diag.svg");
            width: 100px;
            height: 40px;
            position: relative;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &-newDiag:hover {
        transition: 0.2s;
        background: rgb(243, 243, 243);
    }

    &-newHist {
        padding-top: 15px;
        position: relative;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid;
        border-color: $dark-blue-soft;

        &-icon {
            background-image: url("images/new-hist.svg");
            width: auto;
            height: 20px;
            position: relative;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &-newHist:hover {
        transition: 0.2s;
        background: rgb(243, 243, 243);
    }

    &-favorite {
        background-color: $dark-blue;
        padding-top: 10px;
        position: relative;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid;
        border-color: $dark-blue-soft;
        border-bottom-right-radius: 10px;
        &-icon {
            background-image: url("images/favorite.svg");
            width: auto;
            height: 30px;
            position: relative;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &-more {
        background-color: $dark-blue;
        padding-top: 10px;
        position: relative;
        height: 30px;
        width: 25px;
        border-bottom: 1px solid;
        border-color: $dark-blue-soft;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        float: left;
        right: -100%;
        top: -100px;

        &-icon {
            background-image: url("images/more.svg");
            width: auto;
            height: 20px;
            position: relative;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

//estilos del dashboard

.dash {
    position: relative;
    width: 100%;
    height: 100%;
}

.dashboard {
    width: 80%;
    height: 700px;
    background: #fff;
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin: 50px 80px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.03);
}

.element {
    width: 100%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.048);
    font-weight: 600;

    &-selected {
        display: inline-block;
        width: 15%;
        background: #004157;
        color: #fff;
        border-radius: 5px;
        padding: 6px 20px;
    }

    &-noSelected {
        display: inline-block;
        width: 8%;
        background: #ffffff;
        color: $dark-blue;
        padding: 6px 20px;
        border-right: 0.5px solid;
        border-color: $dark-blue-soft;
    }

    &-closeButton {
        display: inline-block;
        width: 30px;
        height: 100%;
        color: #fff;
        padding: 6px;
        background: $dark-blue;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        float: right;
        text-align: center;
    }
}